<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_ADO_Connection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DB_ado;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>